.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgb(133, 130, 130);
  width: 100%;
  box-sizing: border-box;
  a{
    margin: 0 10px;
    font-size: 18px;
  }
  .options{
    display: flex;
    align-items: center;
  }
}