.homepage-container{
  width: 100%;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  .header{
    text-align: center;
    color: #555fee;
    font-size: 2rem;
  }
  .card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card{
      width: 20%;
      text-align: center;
      padding: 3rem;
      background: linear-gradient(to right bottom, #ebd1a2, #e05560);
      margin: 1rem;
      h2{
        font-size: 1.4rem;
      }
    }
  }
}